body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0px;
}

#main {
  padding: 1em;
  background-color: lightgray;
}

.page-header {
  background-color: darkblue;
  color: antiquewhite;
  text-align: center;
}
